<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Firm Management System</h1>

  <h2>
    This the homepage for the Firm Management System application.  
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>